
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Layouts/Layout.cshtml";
}

<p>
    <button id="Add" type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Create Department</button>
    <a href="@Url.Action("Excel","Department")" class="btn btn-primary"><span>Excel</span></a>
    <a href="@Url.Action("Csv","Department")" class="btn btn-primary"><span>Csv</span></a>
    <a href="@Url.Action("Pdf","Department")" class="btn btn-primary"><span>Pdf</span></a>
</p>

<div class="container">
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Department</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <form>
                            <div class="form-group" hidden>
                                <label for="Id">Id:</label>
                                <input type="text" class="form-control" id="Id" name="Id">
                            </div>
                            <div class="form-group">
                                <label for="DepartmentName">Department Name:</label>
                                <input type="text" class="form-control" id="Name" placeholder="Enter Department Name" name="DepartmentName">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" data-dismiss="modal" id="Save" onclick="Save();">Save</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal" id="Update" onclick="Edit();">Update</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table-responsive m-t-40">
    <table id="Department" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Create Date</th>
                <th>Update Date</th>
                <th>Action</th>
            </tr>
        </thead>
        @*<tbody class="deptbody" />*@
    </table>
</div>

@section Scripts{
    <script src="~/Scripts/DepartmentScripts.js"></script>
}

